section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

img {
    flex-basis: 45%;
    margin: 0;
    min-width: 25%;
    padding: 0 0.5rem;
}

@media (max-width: 768px){
    section {
        flex-direction: column;
        margin: 0;
        align-items: center;
        width: 100%;
    }
    img {
        max-width: 80%;
        padding: 0.5rem 0;
    }
}

